
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ruwudu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.webp);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}

.hero h3 {
    margin-top: 5%;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Ruwudu',sans-serif;
}

.hero h1 {
    font-size: 50px;
    margin-top: 2%;
}

.hero h5 {
    margin: 10px 0 20px 0;
}

form {
    width: fit-content;
    padding: 20px;
    background: #ffffff38;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
}

.form-box {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

form input {
    outline: none;
    border: 1px solid #a3a3a0;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    height: 50px;
    width: 300px;
    transition: all 0.2s ease-in;
}

form textarea {
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    padding: 10px 20px;
    display: block;
    border: 1px solid #a3a0a0;
    width: 300px;
    transition: all 0.2s ease-in;
}

.btn {
    width: 300px;
    height: 50px;
    border: 0;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

input:hover,textarea:hover {
    border: 2px solid #000;
    background-color: #ebebebf1;
}

.hero span {
    font-size: 12px;
    color: green;
    font-weight: 300;
    margin-top: 10px;
    display: block;
}